{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block header %}
<header>
    {% include 'partial/_navbar.html' %}
</header>
{% endblock %}
{% block content %}
{{ error_message }}
<section class="login-page">
    <h2>Załóż konto</h2>
    <form method="post">

        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{field}}
            {{ field.place_holder }}
            {% if field.help_text %}
            {{ field.help_text }}
            {% endif %}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </div>
        {% endfor %}

        <div class="form-group form-group--buttons">
            <a href="{% url 'login' %}" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
</section>

{% endblock %}